html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color: #CCCCCC;
	font-family: Verdana, sans-serif;
}

a {
	text-decoration: none;
}

.uos-container {
	background-color: white;
}

.uos-header { 
	position:relative;
	background-color: #2C5C81;
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #2C5C81 0%, #12324C 90%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #2C5C81 0%, #12324C 90%);
	/* Opera */ 
	background-image: -o-linear-gradient(top, #2C5C81 0%, #12324C 90%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2C5C81), color-stop(0.9, #12324C));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #2C5C81 0%, #12324C 90%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #2C5C81 0%, #12324C 90%);
}

.uos-show-nav, .uos-hide-nav {
	display: none;
	padding:10px;
}

.uos-search {
	float: right;
	text-align: right;
	padding: 5px 20px;
	padding: 2px 20px;
}

.uos-search-text {
	width: 210px;
	border: 0;
}

.uos-search button {
	background-color: transparent;
	border: 0;
	vertical-align: bottom;
}
.uos-search button img {
	height: 1.2em;
}

.uos-logged-in-user {
	font-size: 70%;
	color: #FFFFFF;	
	padding: 5px 20px;
	background-color: black;
	float: left;
}

.uos-logged-in-user a {
	color: #fffc00;
	text-decoration: none;
	padding-left: 2em;
}

.uos-logged-in-user a:hover {
	text-decoration: underline;
}

.uos-app-name {
	padding: 40px 20px 20px;
	min-height: 35px; /*stops the logo begin bigger than this conainter*/
}

.uos-app-name h1 {
	font-size: 140%;
	font-weight:bold;
	color: #FFFFFF;	
	padding: 5px 0;
}

.uos-app-name h2 {
	font-weight: normal;
	font-size: 90%;
	color: #FFFFFF;	
	padding: 5px 0;
	margin:0;
}

.uos-main-nav {
	background-color: #5394C3;
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #5394C3 0%, #3674a0 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #5394C3 0%, #3674a0 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top, #5394C3 0%, #3674a0 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5394C3), color-stop(1, #3674a0));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #5394C3 0%, #3674a0 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #5394C3 0%, #3674a0 100%);
	font-size:0;
}

.uos-main-nav > a {
	font-size: 9pt;
	color: #FFFFFF;
	font-weight: bold;
	display: inline-block;
	min-width: 100px;
	text-align: center;
	padding: 8px 1em;
	border-right: 1px solid #5E98C2; 
	box-shadow: 1px 0 0 #12324C; 
	margin-right: 1px;
	border-bottom: 0;
}

.uos-main-nav > a:hover {
	color: #000000;
	background-color: #E2ECF7;
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #F9FAFF 0%, #E2ECF7 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #F9FAFF 0%, #E2ECF7 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top, #F9FAFF 0%, #E2ECF7 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F9FAFF), color-stop(1, #E2ECF7));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #F9FAFF 0%, #E2ECF7 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #F9FAFF 0%, #E2ECF7 100%);
}

.uos-second-nav {
	background-color: #E2ECF7;
	padding: 5px 1em;
}

.uos-second-nav > a {
	font-size: 70%;
	border-left: 1px dotted black;
	display: inline-block;
	color: black;
	padding: 0 2em;
}

.uos-second-nav > a:first-child {
	border: 0;
}

.uos-second-nav > a:hover {
	text-decoration: underline;
}

.uos-main-block {
	position: relative;
}

.uos-left-block {
	float: left;
	width: 200px;
	padding: 10px;	
}

.uos-left-nav {
	border: 1px solid #c2daeb;
	border-bottom: 0;
	margin-bottom: 10px;
}

.uos-left-nav > * {
	border-bottom: 1px solid #c2daeb;
	display: block;
	padding: 7px 10px;
	font-size: 70%;
	font-weight: bold;
	color: #FFFFFF;
}

.uos-left-nav a {
	background-color: #2c5b81;
}

.uos-left-nav a:hover {
	background-color: #173b58;
}

.uos-left-nav h3 {
	font-size: 80%;
	background-color: #5191c1;
}

.uos-left-nav h4 {
	background-color: #173b58;
}

.uos-left-nav a.subitem{
	background-color: #e2ecf7;
	font-weight: normal;
	color: #000000;
	padding-left: 30px;
}

.uos-left-nav a.subitem:hover{
	background-color: #c2daeb;
}

.uos-clearer {
	clear:both;
}

.uos-page-content {
	padding-top: 20px;
	margin-left: 230px;
	margin-right: 230px;
	font-size: 80%;
}

.uos-footer {
	padding: 5px;
	font-size:70%;
	color: #FFFFFF;
	background-color: #2C5C81;
	clear: both;
	text-align: center;
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #2C5C81 0%, #12324C 90%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #2C5C81 0%, #12324C 90%);
	/* Opera */ 
	background-image: -o-linear-gradient(top, #2C5C81 0%, #12324C 90%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2C5C81), color-stop(0.9, #12324C));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #2C5C81 0%, #12324C 90%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #2C5C81 0%, #12324C 90%);
}

.uos-footer .item {
	padding-left: 1em;
	margin-left: 1em;
	border-left: 1px solid #FFFFFF;
}

.uos-footer .item:first-child {
	border: 0;
}
.uos-right-block {
	width: 200px;
	padding: 10px;
	position: absolute;
	top:0;
	right:0;
}

.uos-logo {
	background: url("soton_white_trans.png") no-repeat center center;
	float:right;
	height: 95px;
	width: 270px;
}

.uos-side-block {
	font-size: 80%;
	margin-bottom: 10px;
	border: 1px solid #c2daeb;
	padding: 10px;
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #F5F5FF 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #F5F5FF 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #F5F5FF 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #F5F5FF));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #F5F5FF 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #F5F5FF 100%);
}

.uos-content-block {
	margin-bottom: 10px;
	border: 1px solid #c2daeb;
	border-radius: 10px;
	padding: 10px;
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #F5F5FF 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #F5F5FF 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #F5F5FF 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #F5F5FF));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #F5F5FF 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #F5F5FF 100%);
}

.uos-side-block h3 {
	border-bottom: 1px solid #c2daeb;
	display: block;
	padding: 7px 10px;
	margin: -10px -10px 10px;
	font-size: 80%;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #2C5B81;
}


h2 {
	font-size: 160%;
	font-weight: bold;
	margin-bottom: 1ex;
}

h3 {
	color: #113f63;
	font-size: 110%;
	font-weight: bold;
}

h4 {
	font-weight:bold;
	padding-bottom: 5px;
}

p {
	margin: 1em 0;
	line-height: 140%;
}

td, th { 
	padding: 0.5em;
	text-align: left;
	line-height: 140%;
}
