<p>These are the modules we believe you are the module coordinator for. For each module you coordinate you should fill out a Module Report. If modules are missing or you have more than you expect you can <a href="{{@BASE}}/edit/courses">edit your modules</a>.</p>

<ul class="my-courses">
<check if="{{count(@courses) > 0}}">
	<true>
		<repeat group="@courses" value="@course">
			<check if="{{!array_key_exists(@course->crn, @reports_complete)}}">
				<li><a href="/edit/report/{{@course->crn}}"><include href="course.htm" /></a></li>
			</check>
		</repeat>
	</true>
	<false>
		<li>You do not appear to be module coordinator for any courses. You may need to <a href="{{@BASE}}/edit/courses">edit your courses</a>.</li>
	</false>
</ul>

<check if="{{count(@reports_complete) > 0}}">
<h3>Submitted report</h3>
<ul class="my-courses">
	<repeat group="@courses" value="@course">
		<check if="{{array_key_exists(@course->crn, @reports_complete)}}">
			<li><a href="/edit/report/{{@course->crn}}"><include href="course.htm" /></a></li>
		</check>
	</repeat>
</ul>
</check>
