<p>Please select a faculty</p>
<ul>
	<li><a href="/report/{{@PARAMS.report}}/F1">Business and Law</a></li>
	<li><a href="/report/{{@PARAMS.report}}/F2">Engineering and the Environment</a></li>
	<li><a href="/report/{{@PARAMS.report}}/F3">Health Sciences</a></li>
	<li><a href="/report/{{@PARAMS.report}}/F4">Humanities</a></li>
	<li><a href="/report/{{@PARAMS.report}}/F5">Medicine</a></li>
	<li><a href="/report/{{@PARAMS.report}}/F6">Natural and Environmental Sciences</a></li>
	<li><a href="/report/{{@PARAMS.report}}/F7">Physical Sciences and Engineering</a></li>
	<li><a href="/report/{{@PARAMS.report}}/F8">Social and Human Sciences</a></li>
</ul>
